node_modules
public/*
images/today-imgs/*.jpg
images/today-imgs/*.JPEG
images/today-imgs/*.png
images/today-imgs/*.gif
images/today-imgs-display/*.jpg
images/today-imgs-display/*.JPEG
images/today-imgs-display/*.png
images/today-imgs-display/*.gif
images/today-imgs-used/*.jpg
images/today-imgs-used/*.JPEG
images/today-imgs-used/*.png
images/today-imgs-used/*.gif